<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-list">
                    <h1>Shopping Cart</h1>
                    <ul>
                        <li><a href="index.html">home</a> <span class="divider">|</span></li>
                        <li><a href="cart.html">Shopping cart</a> <span class="divider">|</span></li>
                        <li>Shopping cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- banner-area start -->
<div class="banner-area pad-60">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-banner">
                    <a href="@Url.Action("shop", "store", new {id = 1})">
                        <img src="~/myContant/img/banner/tops (1).jpg" alt="" />
                        <div class="banner-caption">
                            <h2>TOPS</h2>
                            <p>Designed to keep you looking chic and feeling comfortable all day long.</p>
                        </div>
                    </a>
                </div>
                <div class="single-banner marg-20">
                    <a href="@Url.Action("shop", "store", new {id = 2})">
                        <img src="~/myContant/img/banner/bottoms.jpg" alt="" />
                        <div class="banner-caption">
                            <h2>BOTTOMS</h2>
                            <p>Designed to suit every occasion and style.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-banner">
                    <a href="@Url.Action("shop", "store", new {id = 3})">
                        <img src="~/myContant/img/banner/dresses.jpg" alt="" />
                        <div class="banner-caption">
                            <h2>DRESSES</h2>
                            <p>Designed with care and crafted from high-quality fabrics, these dresses combine comfort with effortless elegance.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-banner">
                    <a href="@Url.Action("shop", "store", new {id = 4})">
                        <img src="~/myContant/img/banner/knits.jpg" alt="" />
                        <div class="banner-caption">
                            <h2>KNITS</h2>
                            <p>Our knits are designed to keep you cozy while looking effortlessly chic.</p>
                        </div>
                    </a>
                </div>
                <div class="single-banner marg-20">
                    <a href="@Url.Action("shop", "store", new {id = 5})">
                        <img src="~/myContant/img/banner/accessory.jpg" alt="" />
                        <div class="banner-caption">
                            <h2>ACCESSORY</h2>
                            <p>Designed to add that perfect finishing touch to any outfit.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area end -->
